body{
  display: flex;
  justify-content: center;
  background-image: url('/images/weather.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-serach{
  margin: 50px;
  padding: 20px;
  background: white;
  border-radius: 50px;
}

.search-input{
  font-size: 18px;
}

.search-btn{
  font-size: 18px;
}
.weather-card{
    background: antiquewhite;
    padding: 20px;
    border-radius: 20px;
}
.weather-info{
    justify-content: space-between;
    display: flex;
}
.weather-h3{
  text-align: center;
}